## Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

In [2]:
from keys import key_iex

In [3]:
sp500=pd.read_csv('sp_500_stocks.csv')
sp500

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [10]:
cols=['Ticker', 'Price','Price-to-Earnings Ratio', 'Number Of Shares to Buy']
stock_param=pd.DataFrame(columns=cols )

In [5]:
from create_batches import create_batches

In [6]:
res=list(create_batches(sp500['Ticker'],100))

In [7]:
batch_req=[]
for i in res:
    batch_req.append(','.join(i))
print(batch_req)

['A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA', 'CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD', 'GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP', 'MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK', 'ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL', 'YUM,ZBH,ZBRA,ZION,ZTS']

In [11]:
#updated way
for symbol in batch_req:
    ot=requests.get(f"https://api.iex.cloud/v1/data/core/quote/{symbol}?token={key_iex}").json()
    for cs in ot:
        stock_param.loc[len(stock_param.index)] = [cs['symbol'], 
                                                    cs['latestPrice'], 
                                                    cs['peRatio'], 
                                                    'N/A']

In [12]:
stock_param

    Ticker   Price Price-to-Earnings Ratio Number Of Shares to Buy
0        A  130.56                   31.16                     N/A
1      AAL   13.60                    5.07                     N/A
2      AAP   61.52                   19.72                     N/A
3     AAPL  181.18                   29.56                     N/A
4     ABBV  162.14                   44.42                     N/A
..     ...     ...                     ...                     ...
500    YUM  128.34                    24.4                     N/A
501    ZBH  119.98                   53.09                     N/A
502   ZBRA  252.69                   28.17                     N/A
503   ZION   44.05                     4.7                     N/A
504    ZTS  194.85                   39.68                     N/A

[505 rows x 4 columns]

Now we need to sort this values in increasing ordere with respect to price to earing ratio but we will need to drop the ones with negative peratio because this means that company is in loss which is not a good place to invest money

In [15]:
stock_param.sort_values('Price-to-Earnings Ratio',inplace=True)
stock_param=stock_param[stock_param['Price-to-Earnings Ratio']>0]

    Ticker   Price Price-to-Earnings Ratio Number Of Shares to Buy
71   BRK.B  365.59                    0.01                     N/A
192    FRC    3.51                    0.43                     N/A
137   DISH    5.77                     2.9                     N/A
159    EMR   95.47                    4.17                     N/A
468    VLO  129.00                    4.39                     N/A
..     ...     ...                     ...                     ...
273    KSU  293.59                  279.61                     N/A
493   WYNN   95.65                  324.68                     N/A
238    IFF   79.97                  971.69                     N/A
31     AMD  138.58                 1080.12                     N/A
474    VTR   48.68                 4090.76                     N/A

[459 rows x 4 columns]

In [16]:
best50=stock_param[:50]
best50

    Ticker   Price Price-to-Earnings Ratio Number Of Shares to Buy
71   BRK.B  365.59                    0.01                     N/A
192    FRC    3.51                    0.43                     N/A
137   DISH    5.77                     2.9                     N/A
159    EMR   95.47                    4.17                     N/A
468    VLO  129.00                    4.39                     N/A
503   ZION   44.05                     4.7                     N/A
23     ALB  135.83                    4.81                     N/A
454    UAL   41.76                    4.84                     N/A
203     GM   35.99                    5.07                     N/A
1      AAL   13.60                    5.07                     N/A
315    MPC  152.50                    5.71                     N/A
467   VIAC   29.58                    5.75                     N/A
491     WU   11.96                    6.04                     N/A
98     CMA   56.51                    6.43                     N/A
42     APA   34.34                    6.99                     N/A
426    SYF   38.82                    7.19                     N/A
459    UNM   45.84                    7.39                     N/A
89      CF   81.14                    7.51                     N/A
127     DD   76.69                     7.6                     N/A
57     BAX   39.16                    7.62                     N/A
126    DAL   40.54                    7.66                     N/A
174      F   11.85                    7.75                     N/A
148    DVN   45.94                    7.83                     N/A
322    MTB  138.19                    7.98                     N/A
394     RF   19.39                    8.05                     N/A
475     VZ   40.20                     8.1                     N/A
87      CE  150.13                     8.1                     N/A
383    PSX  135.24                    8.19                     N/A
370    PHM  101.48                    8.24                     N/A
90     CFG   33.37                    8.26                     N/A
129    DFS  111.85                    8.28                     N/A
452     UA    7.57                     8.4                     N/A
313     MO   41.49                    8.47                     N/A
152   EBAY   42.79                    8.47                     N/A
214   HBAN   13.00                    8.61                     N/A
75       C   54.33                    8.67                     N/A
344    NUE  170.57                    8.67                     N/A
453    UAA    7.90                    8.77                     N/A
175   FANG  155.95                    8.81                     N/A
160    EOG  120.38                    8.94                     N/A
317    MRO   24.39                       9                     N/A
314    MOS   35.52                    9.04                     N/A
226    HPQ   29.95                    9.19                     N/A
434    TFC   37.60                    9.45                     N/A
441    TPR   37.33                    9.47                     N/A
56     BAC   34.43                    9.67                     N/A
118    CTL   11.00                    9.73                     N/A
11     ADM   70.81                    9.85                     N/A
106    COF  132.42                    9.95                     N/A
185   FITB   35.40                   10.09                     N/A

In [18]:
best50.reset_index(inplace=True)

,level_0,index,Ticker,Price,Price-to-Earnings Ratio,Number Of Shares to Buy
0,0,71,BRK.B,365.59,0.01,N/A
1,1,192,FRC,3.51,0.43,N/A
2,2,137,DISH,5.77,2.9,N/A
3,3,159,EMR,95.47,4.17,N/A
4,4,468,VLO,129.00,4.39,N/A
5,5,503,ZION,44.05,4.7,N/A
6,6,23,ALB,135.83,4.81,N/A
7,7,454,UAL,41.76,4.84,N/A
8,8,203,GM,35.99,5.07,N/A
9,9,1,AAL,13.60,5.07,N/A
10,10,315,MPC,152.50,5.71,N/A
11,11,467,VIAC,29.58,5.75,N/A
12,12,491,WU,11.96,6.04,N/A
13,13,98,CMA,56.51,6.43,N/A
14,14,42,APA,34.34,6.99,N/A
15,15,426,SYF,38.82,7.19,N/A
16,16,459,UNM,45.84,7.39,N/A
17,17,89,CF,81.14,7.51,N/A
18,18,127,DD,76.69,7.6,N/A
19,19,57,BAX,39.16,7.62,N/A
20,20,126,DAL,40.54,7.66,N/A
21,21,174,F,11.85,7.75,N/A
22,22,148,DVN,45.94,7.83,N/A
23,23,322,MTB,138.19,7.98,N/A
24,24,394,RF,19.39,8.05,N/A
25,25,475,VZ,40.20,8.1,N/A
26,26,87,CE,150.13,8.1,N/A
27,27,383,PSX,135.24,8.19,N/A
28,28,370,PHM,101.48,8.24,N/A
29,29,90,CFG,33.37,8.26,N/A
30,30,129,DFS,111.85,8.28,N/A
31,31,452,UA,7.57,8.4,N/A
32,32,313,MO,41.49,8.47,N/A
33,33,152,EBAY,42.79,8.47,N/A
34,34,214,HBAN,13.00,8.61,N/A
35,35,75,C,54.33,8.67,N/A
36,36,344,NUE,170.57,8.67,N/A
37,37,453,UAA,7.90,8.77,N/A
38,38,175,FANG,155.95,8.81,N/A
39,39,160,EOG,120.38,8.94,N/A
40,40,317,MRO,24.39,9,N/A
41,41,314,MOS,35.52,9.04,N/A
42,42,226,HPQ,29.95,9.19,N/A
43,43,434,TFC,37.60,9.45,N/A
44,44,441,TPR,37.33,9.47,N/A
45,45,56,BAC,34.43,9.67,N/A
46,46,118,CTL,11.00,9.73,N/A
47,47,11,ADM,70.81,9.85,N/A
48,48,106,COF,132.42,9.95,N/A
49,49,185,FITB,35.40,10.09,N/A

In [22]:
best50.drop('index',axis=1,inplace=True)
best50

C:\Users\sjmad\AppData\Local\Temp\ipykernel_20576\1900234139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best50.drop(['index','level_0'],axis=1,inplace=True)

   Ticker   Price Price-to-Earnings Ratio Number Of Shares to Buy
0   BRK.B  365.59                    0.01                     N/A
1     FRC    3.51                    0.43                     N/A
2    DISH    5.77                     2.9                     N/A
3     EMR   95.47                    4.17                     N/A
4     VLO  129.00                    4.39                     N/A
5    ZION   44.05                     4.7                     N/A
6     ALB  135.83                    4.81                     N/A
7     UAL   41.76                    4.84                     N/A
8      GM   35.99                    5.07                     N/A
9     AAL   13.60                    5.07                     N/A
10    MPC  152.50                    5.71                     N/A
11   VIAC   29.58                    5.75                     N/A
12     WU   11.96                    6.04                     N/A
13    CMA   56.51                    6.43                     N/A
14    APA   34.34                    6.99                     N/A
15    SYF   38.82                    7.19                     N/A
16    UNM   45.84                    7.39                     N/A
17     CF   81.14                    7.51                     N/A
18     DD   76.69                     7.6                     N/A
19    BAX   39.16                    7.62                     N/A
20    DAL   40.54                    7.66                     N/A
21      F   11.85                    7.75                     N/A
22    DVN   45.94                    7.83                     N/A
23    MTB  138.19                    7.98                     N/A
24     RF   19.39                    8.05                     N/A
25     VZ   40.20                     8.1                     N/A
26     CE  150.13                     8.1                     N/A
27    PSX  135.24                    8.19                     N/A
28    PHM  101.48                    8.24                     N/A
29    CFG   33.37                    8.26                     N/A
30    DFS  111.85                    8.28                     N/A
31     UA    7.57                     8.4                     N/A
32     MO   41.49                    8.47                     N/A
33   EBAY   42.79                    8.47                     N/A
34   HBAN   13.00                    8.61                     N/A
35      C   54.33                    8.67                     N/A
36    NUE  170.57                    8.67                     N/A
37    UAA    7.90                    8.77                     N/A
38   FANG  155.95                    8.81                     N/A
39    EOG  120.38                    8.94                     N/A
40    MRO   24.39                       9                     N/A
41    MOS   35.52                    9.04                     N/A
42    HPQ   29.95                    9.19                     N/A
43    TFC   37.60                    9.45                     N/A
44    TPR   37.33                    9.47                     N/A
45    BAC   34.43                    9.67                     N/A
46    CTL   11.00                    9.73                     N/A
47    ADM   70.81                    9.85                     N/A
48    COF  132.42                    9.95                     N/A
49   FITB   35.40                   10.09                     N/A

Now lets invest 10000000 in the stocks accordingly

In [23]:
su=20*len(best50.index)-best50['Price-to-Earnings Ratio'].sum()
print(su)

633.69

In [25]:
best50['Price-to-Earnings Ratio']=pd.to_numeric(best50['Price-to-Earnings Ratio'])
best50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ticker                   50 non-null     object
 1   Price                    50 non-null     float64
 2   Price-to-Earnings Ratio  50 non-null     float64
 3   Number Of Shares to Buy  50 non-null     object
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

C:\Users\sjmad\AppData\Local\Temp\ipykernel_20576\2069741467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best50['Price-to-Earnings Ratio']=pd.to_numeric(best50['Price-to-Earnings Ratio'])

In [29]:
for i in range (0,50):
    best50.loc[i,'Number Of Shares to Buy']=math.floor(((20-best50.loc[i,'Price-to-Earnings Ratio']/su)*10000000)/ best50.loc[i,'Price'])
best50

   Ticker   Price  Price-to-Earnings Ratio Number Of Shares to Buy
0   BRK.B  365.59                     0.01                  547060
1     FRC    3.51                     0.43                56978123
2    DISH    5.77                     2.90                34654113
3     EMR   95.47                     4.17                 2094209
4     VLO  129.00                     4.39                 1549850
5    ZION   44.05                     4.70                 4538611
6     ALB  135.83                     4.81                 1471869
7     UAL   41.76                     4.84                 4787443
8      GM   35.99                     5.07                 5554876
9     AAL   13.60                     5.07                14699999
10    MPC  152.50                     5.71                 1310884
11   VIAC   29.58                     5.75                 6758257
12     WU   11.96                     6.04                16714438
13    CMA   56.51                     6.43                 3537401
14    APA   34.34                     6.99                 5820899
15    SYF   38.82                     7.19                 5149060
16    UNM   45.84                     7.39                 4360457
17     CF   81.14                     7.51                 2463414
18     DD   76.69                     7.60                 2606338
19    BAX   39.16                     7.62                 5104181
20    DAL   40.54                     7.66                 4930417
21      F   11.85                     7.75                16867316
22    DVN   45.94                     7.83                 4350814
23    MTB  138.19                     7.98                 1446371
24     RF   19.39                     8.05                10308043
25     VZ   40.20                     8.10                 4971944
26     CE  150.13                     8.10                 1331327
27    PSX  135.24                     8.19                 1477896
28    PHM  101.48                     8.24                 1969550
29    CFG   33.37                     8.26                 5989501
30    DFS  111.85                     8.28                 1786940
31     UA    7.57                     8.40                26402568
32     MO   41.49                     8.47                 4817217
33   EBAY   42.79                     8.47                 4670865
34   HBAN   13.00                     8.61                15374163
35      C   54.33                     8.67                 3678689
36    NUE  170.57                     8.67                 1171737
37    UAA    7.90                     8.77                25298937
38   FANG  155.95                     8.81                 1281570
39    EOG  120.38                     8.94                 1660233
40    MRO   24.39                     9.00                 8194258
41    MOS   35.52                     9.04                 5626614
42    HPQ   29.95                     9.19                 6672954
43    TFC   37.60                     9.45                 5315182
44    TPR   37.33                     9.47                 5353617
45    BAC   34.43                     9.67                 5804455
46    CTL   11.00                     9.73                18167859
47    ADM   70.81                     9.85                 2822264
48    COF  132.42                     9.95                 1509160
49   FITB   35.40                    10.09                 5645219

C:\Users\sjmad\AppData\Local\Temp\ipykernel_20576\1450900138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best50.drop('Number of Shares to Buy',axis=1,inplace=True)

   Ticker   Price  Price-to-Earnings Ratio Number Of Shares to Buy
0   BRK.B  365.59                     0.01                     N/A
1     FRC    3.51                     0.43                     N/A
2    DISH    5.77                     2.90                     N/A
3     EMR   95.47                     4.17                     N/A
4     VLO  129.00                     4.39                     N/A
5    ZION   44.05                     4.70                     N/A
6     ALB  135.83                     4.81                     N/A
7     UAL   41.76                     4.84                     N/A
8      GM   35.99                     5.07                     N/A
9     AAL   13.60                     5.07                     N/A
10    MPC  152.50                     5.71                     N/A
11   VIAC   29.58                     5.75                     N/A
12     WU   11.96                     6.04                     N/A
13    CMA   56.51                     6.43                     N/A
14    APA   34.34                     6.99                     N/A
15    SYF   38.82                     7.19                     N/A
16    UNM   45.84                     7.39                     N/A
17     CF   81.14                     7.51                     N/A
18     DD   76.69                     7.60                     N/A
19    BAX   39.16                     7.62                     N/A
20    DAL   40.54                     7.66                     N/A
21      F   11.85                     7.75                     N/A
22    DVN   45.94                     7.83                     N/A
23    MTB  138.19                     7.98                     N/A
24     RF   19.39                     8.05                     N/A
25     VZ   40.20                     8.10                     N/A
26     CE  150.13                     8.10                     N/A
27    PSX  135.24                     8.19                     N/A
28    PHM  101.48                     8.24                     N/A
29    CFG   33.37                     8.26                     N/A
30    DFS  111.85                     8.28                     N/A
31     UA    7.57                     8.40                     N/A
32     MO   41.49                     8.47                     N/A
33   EBAY   42.79                     8.47                     N/A
34   HBAN   13.00                     8.61                     N/A
35      C   54.33                     8.67                     N/A
36    NUE  170.57                     8.67                     N/A
37    UAA    7.90                     8.77                     N/A
38   FANG  155.95                     8.81                     N/A
39    EOG  120.38                     8.94                     N/A
40    MRO   24.39                     9.00                     N/A
41    MOS   35.52                     9.04                     N/A
42    HPQ   29.95                     9.19                     N/A
43    TFC   37.60                     9.45                     N/A
44    TPR   37.33                     9.47                     N/A
45    BAC   34.43                     9.67                     N/A
46    CTL   11.00                     9.73                     N/A
47    ADM   70.81                     9.85                     N/A
48    COF  132.42                     9.95                     N/A
49   FITB   35.40                    10.09                     N/A